[Oo]bj/
[Bb]in/
*.user
.vs/
V4_obj/
V4_bin/

# Buildbot
scripts/gh.cache.bat
scripts/msbuild-version.rsp

# SVN properties
*proj.user
*.dll
*.exe
*.obj
Debug
Release
*~
*.bak
*.suo
*.ncb
build
subversion
